body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(207, 37, 37);
    font-family: 'Bebas Neue', sans-serif;
}

#page{
    filter: blur();
    transition: 0.8s;
}

.nav{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 9vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    height: 8vh;
    width: 8vh;
    font-family: 'Poppins', sans-serif;
    margin-top: 2vh;
    margin-left: -4vh;
}

.logo a{
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    margin-left: 10vh;
    margin-top: 20vh;
    text-decoration: none;
    font-weight: 700;
    color: rgb(207, 37, 37);
}

.imgs:hover{
    cursor: pointer;
}

.imgs{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-size: cover;
    margin-left: 58vh;
    margin-top: 0.5vh;
}

.btn{
    margin: 0;
    margin-top: -4vh;
    margin-right: -15vh;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: red;
    background-image: url(/images/pencil-icon.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
}

.usr{
    height: 8vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.usr h3{
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 2.3vh;
}

.usr h4{
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.9vh;
}

.sidebar{
    box-shadow: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.945);
    opacity: 1;
    transition: 0.5s;
}

.pic{
    margin-top: 2vh;
}

.sidebar h3{
    margin: 0;
    margin-top: 2vh;
    font-family: 'Bebas Neue', sans-serif;
}
.sidebar h4{
    margin: 0;
    margin-top: 1vh;
    font-family: 'Bebas Neue', sans-serif;
}

.fee{
    margin-top: 7vh;
}

.lout{
    margin: 0;
    margin-top: 7vh;
}

.sig, .fee{
    text-decoration: none;
    font-weight: bold;
    font-size: 4vh;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.sidbot{
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vh;
    margin-top: 43vh;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

#protex:hover{
    cursor: pointer;
}

.leftbar{
    background-color: #151515;
    color: white;
    border-radius: 0 2vh 0 0;
    height: 91vh;
    width: 35vh;
    position: relative;
}

.leftbar h2{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin-top: 14vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.profilepag{
    background-color: rgb(207, 37, 37);
}

.leftbarhead{
    padding-top: 0vh;
}

.land{
    display: flex;
}